.header {
    position: absolute;
    width: 1140px;
    z-index: 100;

    &__container {
        display: flex;
        justify-content: flex-end;
        height: 70px;
    }

    &__nav {
        display: flex;
        font-size: 18px;
        list-style: none;
    }

    &__nav-item {
        display: flex;
        align-items: flex-end;

        &:hover {
            background-color: gray;
            border-radius: 0 0 8px 8px;
        }

        span {
            margin-bottom: 17px;
            margin-left: 30px;
            margin-right: 30px;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .selected-link {
        background-color: #82ddec;
        border-radius: 0 0 8px 8px;
    }
}